<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<%- include('../partials/footer') -%>
<body>
	<div class="container">
		<div class="row">
			<div class="col"><h2 class="display-4">tt</h2></div>
		</div>
	</div>
</body>
