<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/custum.css">
	<script type="text/javascript" href="/jquery/dist/jquery.js"></script> 
	<script type="text/javascript" href="/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
		<script type="text/javascript" href="/js/custum.js"></script> 
	<title>Index page</title>
</head>